@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary-light: #ffffff; /* Light mode background color */
		--color-primary-dark: #1c1c22; /* Dark mode background color */
		--color-text-light: #333333; /* Light mode text color */
		--color-text-dark: #ffffff; /* Dark mode text color */
	}

	body {
		@apply font-primary bg-primary text-text-light leading-loose; /* Default to light mode */
	}

	.light {
		--color-primary: var(--color-primary-light);
		--color-text: var(--color-text-light);
	}

	.dark {
		--color-primary: var(--color-primary-dark);
		--color-text: var(--color-text-dark);
	}

	.h1 {
		@apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
	}

	.h2 {
		@apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
	}

	.h3 {
		@apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
	}

	.text-outline {
		-webkit-text-stroke: 1px #ffffff;
	}

	.text-outline-hover {
		-webkit-text-stroke: 1px #29B6F6;
	}
}

@layer utilities {
	.bg-primary {
		background-color: var(--color-primary);
	}

	.text-primary {
		color: var(--color-text);
	}
}
